{% load static %}
<html>
<head>
	<title>Apippiaciri</title>
	<script src="{% static "js/jquery-3.2.1.min.js" %}" type="text/javascript"></script>
	<link rel="stylesheet" type="text/css" href="{% static "css/datatables.min.css" %}"/>
 
	<script type="text/javascript" src="{% static "js/datatables.min.js" %}"></script>

	<script language="javascript" type="text/javascript">

	$(document).ready(function() {

		$('#example').DataTable( {
			"processing": true,
			"responsive": true,

			"ajax": {
				'url' : '/moviesdt',
				'type' : 'get',
			},
			
			'columnDefs': [ {
			    "targets": 5,
				"render": function ( data, type, row ) {

					if (data != null && data != undefined){
						//console.log(data);

						if (data.indexOf("A") == 0) {
							image = "{% static "images/green.png" %}";
						}
						else if (data.indexOf("B") == 0) {
							image = "{% static "images/blue.png" %}";
						}
						else if (data.indexOf("C") == 0) {
							image = "{% static "images/red.png" %}";
						}
						else
		                	return '<span style="text-align:center">-</span>';

						return '<img src="' + image + '" style="width:35%"/>'; 
					}
					else
						return "-";
                },
			} ]
		} );
	} );
	</script>

</head>

	<body>
		{% include "header.html" %}
		<table id="example" class="display" style="width:90%">
			<thead>
				<tr>
				    <th>Titolo</th>
				    <th>Anno</th>
				    <th>Cinema</th>
				    <th>Cast</th>
				    <th>Regista</th>
					<th>FilmTV</th>
				</tr>
			</thead>
	</table>
	</body>
</html>
