django>=4.2.0
djangorestframework
mysqlclient
django-cors-headers
firebase-admin
requests[security]
Padding
geopy
GitPython
oauthlib
google-auth
django-dbbackup==4.0.0b0
django-storages[boto3]
azure-storage-blob
python-telegram-bot
pymongo
spotipy
pyyaml
ua-parser
user-agents
django-user-agents
wget
