django>=3.0.1
djangorestframework
mysqlclient
#mod_wsgi
django-cors-headers
pycrypto>=2.6.1
firebase-admin
requests[security]
Padding
geopy
GitPython
oauthlib
google-auth
django-dbbackup
django-storages[boto3]
azure-storage-blob
