django>=3.0.1,<4.0
djangorestframework
mysqlclient
django-cors-header
firebase-admin
requests[security]
Padding
geopy
GitPython
oauthlib
google-auth
django-dbbackup
django-storages[boto3]
azure-storage-blob
